<h3>Monthly Summary</h3>
<hr>
<!-- CARD OEE -->
<h5>OEE Data from : <b>{{overallRepresentative}}</b></h5>
<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
        <div [ngClass]="{'card text-white mb-3': true, 
        'bg-danger': oee < 60, 
        'bg-orange': oee >= 60 && oee < 85,
        'bg-success' : oee >= 85 }">
            <div class="card-header oee-header">
                <div class="row">
                    <div class="col-lg-5 col-sm-5 col-sm-5">
                        Overall Efficiency
                    </div>
                    <div class="col-lg-7 col-sm-7 col-sm-7">
                        <div class="card card-oee">
                            <div class="card-body card-body-oee text-center">
                                <b class="card-text-percentage-oee">{{oee}}%</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body-time">
            <p class="card-text">Last update {{updatedAtString}}</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 AQP-container">
        <div [ngClass]="{'card text-white mb-3 AQP-card': true, 
        'bg-danger': availability < 60, 
        'bg-orange': availability >= 60 && availability < 85,
        'bg-success' : availability >= 85 }">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-5 col-sm-5">
                        Availability
                    </div>
                    <div class="col-lg-7 col-sm-7">
                        <div class="card">
                            <div class="card-body text-center">
                                <b class="card-text-percentage-oee">{{availability}}%</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body-time">
            <p class="card-text">Last update {{updatedAtString}}</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 AQP-container">
        <div [ngClass]="{'card text-white mb-3 AQP-card': true, 
        'bg-danger': quality < 60, 
        'bg-orange': quality >= 60 && quality < 85,
        'bg-success' : quality >= 85 }">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-5 col-sm-5">
                        Quality
                    </div>
                    <div class="col-lg-7 col-sm-7">
                        <div class="card">
                            <div class="card-body text-center">
                                <b class="card-text-percentage-oee">{{quality}}%</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body-time">
            <p class="card-text">Last update {{updatedAtString}}</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 AQP-container">
        <div [ngClass]="{'card text-white mb-3 AQP-card': true, 
        'bg-danger': performance < 60, 
        'bg-orange': performance >= 60 && performance < 85,
        'bg-success' : performance >= 85 }">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-5 col-sm-5">
                        Performance
                    </div>
                    <div class="col-lg-7 col-sm-7">
                        <div class="card">
                            <div class="card-body text-center">
                                <b class="card-text-percentage-oee">{{performance}}%</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body-time">
            <p class="card-text">Last update {{updatedAtString}}</p>
            </div>
        </div>
    </div>
</div>

<!-- CARD Downtime -->
<div class="row">
    <div class="col-lg-6  col-sm-12">
        <div class="card mb-3">
            <div class="card-header text-white bg-dark ">TOP 3 FREQUENT DOWNTIME</div>
            <div class="card-body">
              <table class="table table-hover">
                  <thead>
                      <th style="width: 80%;">Reasons</th>
                      <th class="text-center">Freq</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let reason of reasonsFreq; let idx = index">
                        <td [ngStyle]="reason.styles">
                            <b>{{reason.description}}</b>
                        </td>
                        <td class="text-center">{{reason.freq}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="card  mb-3">
            <div class="card-header text-white bg-dark">TOP 3 LONGEST DOWNTIME</div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <th style="width: 80%;">Reasons</th>
                        <th class="text-center">Minutes</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reason of reasonsMinutes; let idx = index">
                            <td [ngStyle]="reason.styles">
                                <b>{{reason.description}}</b>
                            </td>
                            <td class="text-center">{{reason.minutes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
    </div>
</div>

<!-- CARD Status Machine -->
<div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card mb-3">
            <div class="card-header text-white bg-dark ">LIST STATUS MACHINES</div>
            <div class="card-body">
              <table class="table table-hover">
                  <thead>
                      <th>No</th>
                      <th>Machine Name</th>
                      <th style="width: 35%;" class="text-center">Status</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cell of cellPart1; let idx = index">
                        <td>{{ idx + 1}}</td>
                        <td>{{ cell.name }}</td>
                        <td class="text-center" *ngIf="cell.status; else loadingStatus1">
                            <div *ngIf="cell.status.includes('Idle'); else runningStatusPart1" class="card text-white bg-dark">
                                <div class="card-body-time">
                                  <p class="card-text">IDLE</p>
                                </div>
                            </div>
                            <ng-template #runningStatusPart1>
                                <div *ngIf="cell.status.includes('Running'); else downtimeStatusPart1" class="card text-white bg-success">
                                    <div class="card-body-time">
                                      <p class="card-text">RUNNING</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #downtimeStatusPart1>
                                <div *ngIf="cell.status.includes('Downtime'); else partDelayStatusPart1" class="card text-white" style="background-color: darkorange;">
                                    <div class="card-body-time">
                                      <p class="card-text">DOWNTIME</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #partDelayStatusPart1>
                                <div *ngIf="cell.status.includes('PartDelay'); else emergencyStatusPart1" class="card text-white bg-warning">
                                    <div class="card-body-time">
                                      <p class="card-text">PART DELAY</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #emergencyStatusPart1>
                                <div *ngIf="cell.status.includes('Emergency'); else loadingPart1" class="card text-white bg-danger">
                                    <div class="card-body-time">
                                      <p class="card-text">EMERGENCY</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #loadingPart1>
                                <div class="card">
                                    <div class="card-body-time">
                                      <p class="card-text">LOADING...</p>
                                    </div>
                                </div>
                            </ng-template>
                        </td>
                        <ng-template #loadingStatus1>
                            <td class="text-center">
                                <div class="card">
                                    <div class="card-body-time">
                                      <p class="card-text">LOADING...</p>
                                    </div>
                                </div>
                            </td>
                        </ng-template>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card mb-3">
            <div class="card-header text-white bg-dark ">LIST STATUS MACHINES</div>
            <div class="card-body">
              <table class="table table-hover">
                  <thead>
                      <th>No</th>
                      <th>Machine Name</th>
                      <th style="width: 35%;" class="text-center">Status</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cell of cellPart2; let idx = index">
                        <td>{{ idx + 8}}</td>
                        <td>{{ cell.name }}</td>
                        <td class="text-center" *ngIf="cell.status; else loadingStatus2">
                            <div *ngIf="cell.status.includes('Idle'); else runningStatusPart2" class="card text-white bg-dark">
                                <div class="card-body-time">
                                  <p class="card-text">IDLE</p>
                                </div>
                            </div>
                            <ng-template #runningStatusPart2>
                                <div *ngIf="cell.status.includes('Running'); else downtimeStatusPart2" class="card text-white bg-success">
                                    <div class="card-body-time">
                                      <p class="card-text">RUNNING</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #downtimeStatusPart2>
                                <div *ngIf="cell.status.includes('Down Time'); else partDelayStatusPart2" class="card text-white" style="background-color: darkorange;">
                                    <div class="card-body-time">
                                      <p class="card-text">DOWNTIME</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #partDelayStatusPart2>
                                <div *ngIf="cell.status.includes('Part Delay'); else emergencyStatusPart2" class="card text-white bg-warning">
                                    <div class="card-body-time">
                                      <p class="card-text">PART DELAY</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #emergencyStatusPart2>
                                <div *ngIf="cell.status.includes('Emergency'); else loadingPart2" class="card text-white bg-danger">
                                    <div class="card-body-time">
                                      <p class="card-text">EMERGENCY</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #loadingPart2>
                                <div class="card">
                                    <div class="card-body-time">
                                      <p class="card-text">LOADING...</p>
                                    </div>
                                </div>
                            </ng-template>
                        </td>
                        <ng-template #loadingStatus2>
                            <td class="text-center">
                                <div class="card">
                                    <div class="card-body-time">
                                      <p class="card-text">LOADING...</p>
                                    </div>
                                </div>
                            </td>
                        </ng-template>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card mb-3">
            <div class="card-header text-white bg-dark ">LIST STATUS MACHINES</div>
            <div class="card-body">
              <table class="table table-hover">
                  <thead>
                      <th>No</th>
                      <th>Machine Name</th>
                      <th style="width: 35%;" class="text-center">Status</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cell of cellPart3; let idx = index">
                        <td>{{ idx + 15}}</td>
                        <td>{{ cell.name }}</td>
                        <td class="text-center" *ngIf="cell.status; else loadingStatus3">
                            <div *ngIf="cell.status.includes('Idle'); else runningStatusPart3" class="card text-white bg-dark">
                                <div class="card-body-time">
                                  <p class="card-text">IDLE</p>
                                </div>
                            </div>
                            <ng-template #runningStatusPart3>
                                <div *ngIf="cell.status.includes('Running'); else downtimeStatusPart3" class="card text-white bg-success">
                                    <div class="card-body-time">
                                      <p class="card-text">RUNNING</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #downtimeStatusPart3>
                                <div *ngIf="cell.status.includes('Down Time'); else partDelayStatusPart3" class="card text-white bg-orange">
                                    <div class="card-body-time">
                                      <p class="card-text">DOWNTIME</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #partDelayStatusPart3>
                                <div *ngIf="cell.status.includes('Part Delay'); else emergencyStatusPart3" class="card text-white bg-warning">
                                    <div class="card-body-time">
                                      <p class="card-text">PART DELAY</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #emergencyStatusPart3>
                                <div *ngIf="cell.status.includes('Emergency'); else loadingPart3" class="card text-white bg-danger">
                                    <div class="card-body-time">
                                      <p class="card-text">EMERGENCY</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #loadingPart3>
                                <div class="card">
                                    <div class="card-body-time">
                                      <p class="card-text">LOADING...</p>
                                    </div>
                                </div>
                            </ng-template>
                        </td>
                        <ng-template #loadingStatus3>
                            <td class="text-center">
                                <div class="card">
                                    <div class="card-body-time">
                                      <p class="card-text">LOADING...</p>
                                    </div>
                                </div>
                            </td>
                        </ng-template>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
    </div>
</div>