
.oee{
    height: 160px;
}

.oee-header{
    font-size: 1.30rem;
}

.AQP-containter{
    position: relative;
}

.AQP-card{
    bottom: 0;
    position: absolute;
    width: 93%;
    font-size: 1rem;
}

.card-text-percentage-oee{
    color: black;
    font-size: 1.5rem;
    margin: 0 !important;
    
}

.card-body-time{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;

}

.table td, .table th{
    padding: .4rem !important;
}

.card-body-oee{
    padding-top: 2rem !important;
}

.card-oee{
    height: 99px !important;
}

@media (max-width: 575.98px) { 
    .AQP-card{
        width: 100%;
        position: relative !important;
    }
 }

@media (max-width: 1199px) { 
    .card-body-oee{
        padding-top: 1.3rem !important;
    }
    
    .card-oee{
        height: 78px !important;
    }

    .AQP-card{
        width: 100%;
        position: relative !important;
    }
 }


 @media (max-width: 1671px) { 
    
    .card-text-percentage-oee{
        font-size: 1rem;
    }
    .oee-header{
        font-size: 1.2rem;
    }
 }

 @media (max-width: 1442px) { 
    
    .card-text-percentage-oee{
        font-size: 0.9rem;
    }

    .card-header{
        font-size: 1rem;
    }

    .oee-header{
        font-size: 1rem;
    }

    .card-body-time{
        font-size: 0.8rem;
    }
    
 }
 
.bg-orange{
    background-color: darkorange;
}