<h3>Employee Form</h3>

<form *ngIf="employee || formType == 'create'" #employeeForm="ngForm" (ngSubmit)="save(employeeForm)">
    <!-- <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="id" value="{{ employee.id }}">
        </div>
    </div> -->
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Employee Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employee.name">
        </div>
    </div>
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="employee.username">
        </div>
    </div>
    <div class="form-group row" *ngIf="formType == 'create'" >
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="employee.password">
        </div>
    </div>
    <div class="form-group row">
        <label for="roles" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-10">
            <select id="roles" name="roles" class="form-control" [(ngModel)]="employee.roleId">
                <option *ngFor="let role of roles" [value]="role.id">
                    {{role.description}}
                </option>
            </select>
        </div>
    </div>

    <div *ngIf="formType == 'update'">
        <div class="form-group row" >
            <label for="password" class="col-sm-2 col-form-label">Current Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" [(ngModel)]="employee.currentPassword">
            </div>
        </div>
    
        <div class="form-group row" >
            <label for="password" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="employee.password">
            </div>
        </div>
    </div>


    <button type="button" class="btn btn-danger mr-2" (click)="goBack()">Back</button>
    <button type="submit" class="btn btn-primary">Save</button>

</form>

<!--<div *ngIf="employee">-->
<!--<div>-->
<!--<label for="id">Id</label>-->
<!--<input id="id" type="text" value="{{ employee.id }}">-->
<!--</div>-->
<!--<div>-->
<!--<label for="employeeNo">Employee No</label>-->
<!--<input id="employeeNo" type="text" value="{{ employee.employeeNo }}">-->
<!--</div>-->
<!--<div>-->
<!--<label for="name">Employee Name</label>-->
<!--<input id="name" type="text" value="{{ employee.name }}">-->
<!--</div>-->
<!--<button class="btn btn-primary" (click)="goBack()">back</button>-->
<!--<button class="btn btn-primary" (click)="save()">save</button>-->
<!--</div>-->