.padding-card{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.status-box{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 0.25rem;
}

.number-box{
    border-top-left-radius:  0.25rem;
}

.right-border{
    border-right: solid 1px black;
}

.margin-number{
    margin-top: 1.8rem;
}

@keyframes blink { 50% {  border: solid 6px red; }  }

.emergency-card{
    /* animation: blink .5s step-end infinite alternate; */
    animation: blink .5s step-end infinite alternate;
}

.card{
    border: solid 6px rgba(240,244,244,1);
    ;
}

.bg-orange {
    background-color: darkorange;
}

.responsive-grid{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
 }

 @media (min-width: 1800px) { 
    
    .responsive-grid{
        flex: 0 0 25%;
        max-width: 25%;
    }
    
 }

 @media (max-width: 1424px) { 
    
    .responsive-grid{
        flex: 0 0 50%;
        max-width: 50%;
    }
    
 }

 @media (max-width: 1039px) { 
    
    .responsive-grid{
        flex: 0 0 100%;
        max-width: 100%;
    }
    
 }

