<h3>Machine Summary</h3>
<hr>
<!-- CARD OEE -->
<p *ngIf="loading; else contentLoaded"><em>Loading...</em></p>

<ng-template #contentLoaded>
    <div class="row">
        <div class="responsive-grid mb-3" *ngFor="let cell of cells; let idx = index">
            <div [className]="cell.status == 'Emergency' ? 'card emergency-card' : 'card'">
                <div class="card-body padding-card">
                    <div class="row">
                        <div class="col-sm-3 text-center bg-info text-white number-box">
                            <h3 class="margin-number">{{cell.id}}</h3>
                        </div>
                        <div [className]="cell.classValue ? cell.classValue : defaultClassValue"> 
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5>
                                        {{cell.name}}
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" *ngIf="cell.status; else loadingStatus">
                                    <h3 *ngIf="cell.status.includes('Idle'); else runningStatus">
                                          IDLE
                                    </h3>
                                    <ng-template #runningStatus>
                                        <h3 *ngIf="cell.status.includes('Running'); else downtimeStatus">
                                            RUNNING
                                        </h3>
                                    </ng-template>
                                    <ng-template #downtimeStatus>
                                        <h3 *ngIf="cell.status.includes('Downtime'); else partDelayStatus">
                                              DOWNTIME
                                        </h3>
                                    </ng-template>
                                    <ng-template #partDelayStatus>
                                        <h3 *ngIf="cell.status.includes('PartDelay'); else emergencyStatus">
                                              PART DELAY
                                        </h3>
                                    </ng-template>
                                    <ng-template #emergencyStatus>
                                        <h3 *ngIf="cell.status.includes('Emergency'); else loading">
                                              EMERGENCY
                                        </h3>
                                    </ng-template>
                                    <ng-template #loading>
                                        <h3>
                                              LOADING...
                                        </h3>
                                    </ng-template>
                                </div>
                                <ng-template #loadingStatus>
                                    <div class="col-sm-12">
                                        <h3>
                                              LOADING...
                                        </h3>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 right-border text-center">
                            <h5 class="ml-2 text-success">{{cell.oee}}%</h5>
                            OEE
                        </div>
                        <div class="col-sm-4 right-border text-center">
                            <h5 class="text-success">{{cell.runningTime}}</h5>
                            Running
                        </div>
                        <div class="col-sm-4 text-center">
                            <h5 class="text-danger">{{cell.stopTime}}</h5>
                            Stopped
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>