<h3>Employee List</h3>

<p *ngIf="!employees"><em>Loading...</em></p>
<div class="content-container" *ngIf="employees">
  <div class="row ml-0 pt-3">
    <div class="col-xl-4">
      <a class="btn btn-primary" href="/employees/create">Create New Employee</a>
    </div>
  </div>
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>No</th>
        <th>Employee Name</th>
        <th>Position</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let idx = index">
        <td>{{ idx + 1}}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.roleDescription }}</td>
        <td class="text-center">
          <a routerLink="/employees/{{ employee.id }}" class="btn btn-primary">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>