<header class="navbar bd-navbar" *ngIf="currentUser">
    <a class="navbar-brand" href="{{ baseUrl }}">
        <!-- <img src="assets/vocip-logo.png" class="logo-header"> -->
    </a>

    <span class="role-header">
        <!-- <img src="assets/vosen.ico"> -->
        {{currentUser.name}} |

        <a class="pull-right" (click)="logout()">Logout</a></span>
</header>
<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" *ngIf="currentUser" class="bg-dark">
        <app-sidebar></app-sidebar>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
    </div>

</div>