table[mat-table] {width:100%;}
.filter-view fieldset  {}
.filter-view ol {padding:0;}
.filter-view ol li {list-style-type: none; float:left;padding:5px;}
.filter-view ol li label {margin: 0 5px 0 10px;}
.content-container{
    background-color:white!important;
    padding:15px;
}

#form-input{
    margin-left: 5px;
    width: 80% !important;
}

.table td, .table th{
    padding: .5rem !important;
}