<h3>Trace Report</h3>
<hr>

<p *ngIf="loading; else contentLoaded"><em>Loading...</em></p>

<ng-template #contentLoaded>
    <div class="filter-view">
        <div class="content-container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <label class="float-left" id="label-input">Frame Number : </label>
                    <input class="float-left" id='form-input' type="text"/>
                </div>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header text-white bg-dark ">LOREM IPSUM</div>
                    <div class="card-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td style="width: 40%;">Information 1</td>
                                <td>:</td>
                                <td>Lorem Ipsum</td>
                            </tr>
                            <tr>
                                <td style="width: 40%;">Information 2</td>
                                <td>:</td>
                                <td>Lorem Ipsum</td>
                            </tr>
                            <tr>
                                <td style="width: 40%;">Information 3</td>
                                <td>:</td>
                                <td>Lorem Ipsum</td>
                            </tr>
                            <tr>
                                <td style="width: 40%;">Information 4</td>
                                <td>:</td>
                                <td>Lorem Ipsum</td>
                            </tr>
                            <tr>
                                <td style="width: 40%;">Information 5</td>
                                <td>:</td>
                                <td>Lorem Ipsum</td>
                            </tr>
                            <tr>
                                <td style="width: 40%;">Information 6</td>
                                <td>:</td>
                                <td>Lorem Ipsum</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead class="text-white bg-dark">
                        <th>No</th>
                        <th>Machine</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mesin A</td>
                            <td>10</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mesin B</td>
                            <td>10</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mesin C</td>
                            <td>10</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Mesin D</td>
                            <td>10</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</ng-template>
