<h3>Reason List</h3>

<p *ngIf="!reasons"><em>Loading...</em></p>

<table datatable class="row-border hover" *ngIf="reasons">
  <thead>
    <tr>
      <th>No</th>
      <!-- <th>Id</th> -->
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reason of reasons; let idx = index">
      <td>{{ idx + 1}}</td>
      <!-- <td>{{ reason.id }}</td> -->
      <td>{{ reason.description }}</td>
      <td class="text-center">
        <a routerLink="/reasons/{{ reason.id }}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
  </tbody>
</table>