<h3>Downtime Reason</h3>
<hr>

<p *ngIf="loading; else contentLoaded"><em>Loading...</em></p>

<ng-template #contentLoaded>
    <app-downtime-record-filter
            (evNew)="onFilterNew($event)"
            (evRefresh)="onFilterRefresh($event)"
            (evReset)="onFilterReset($event)"
    ></app-downtime-record-filter>
    
    <table mat-table [dataSource]="downtimeRecords" class="mat-elevation-z8 row-border table-hover"
           matSort (matSortChange)="onSortChange($event)" matSortActive="startTime" matSortDirection="desc">
    
    
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="blue-header"></th>
            <td mat-cell *matCellDef="let item">
                <a routerLink="/reports/{{ item.id }}" class="btn btn-info"><img src="assets/icon-report.png"
                                                                                 class="menu-icon">Report</a> |
                <a routerLink="/graphParameter/{{ item.id }}" class="btn btn-success"><img src="assets/icon-graph.png"
                                                                                           class="menu-icon">Graph</a> 
                Check if Not Yet Checked
                <ng-container *ngIf="(item.qcStatus == null && (user.positionId == 3 || user.positionId == 4));">
                    | <a routerLink="/qcForm/{{ item.id }}" class="btn btn-outline-primary">QC</a>
                </ng-container>
            </td>
        </ng-container> -->
        <ng-container matColumnDef="cellName">
            <th mat-header-cell *matHeaderCellDef class="blue-header">Machine</th>
            <td mat-cell *matCellDef="let item">
                {{item.cellName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef class="blue-header" mat-sort-header> Start Time</th>
            <td mat-cell *matCellDef="let item"> {{item.startTime | date:'d MMM yyyy HH:mm:ss'}}</td>
        </ng-container>
        <ng-container matColumnDef="endTime">
            <th mat-header-cell *matHeaderCellDef class="blue-header" mat-sort-header> End Time</th>
            <td mat-cell *matCellDef="let item"> {{item.endTime | date:'d MMM yyyy HH:mm:ss'}}</td>
        </ng-container>
        <ng-container matColumnDef="durationMinute">
            <th mat-header-cell *matHeaderCellDef class="blue-header"> Duration (min)</th>
            <td mat-cell *matCellDef="let item"> {{item.durationMinute}}</td>
        </ng-container>
        <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef class="blue-header">Reason</th>
            <td mat-cell *matCellDef="let item">
                <ng-container *ngIf="item.reasonDescription == null; else reasonNotNull">-</ng-container>
                <ng-template #reasonNotNull>
                    {{item.reasonDescription}}
                </ng-template>
    
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="blue-header"></th>
            <td mat-cell *matCellDef="let item" class="text-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reasonModal" (click)="addReasonClicked(item)">
                    Add Reason
                </button>
            </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    
    <!-- Modal -->
    <div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" *ngIf="reasons && activeData">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Input Reason</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">Machine Name :</div>
                    <div class="col-sm-12">{{activeData.cellName}}</div>
                </div>
                <br>
                <div class="row" >
                    <div class="col-sm-12">Reason :</div>
                    <div class="col-sm-12">
                        <select id="form-input" class="form-input" [(ngModel)]="activeData.reasonId">
                            <option value="null" selected>--</option>
                            <option *ngFor="let reason of reasons" [ngValue]="reason.id">{{reason.description}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveReason()" [disabled]="activeData.reasonId == 'null'">Save changes</button>
            </div>
          </div>
        </div>
    </div>
    <mat-paginator [pageSize]="pageSize" [pageIndex]="pageIndex"
                   [length]="totalRecords" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                   (page)="onPageChange($event)"></mat-paginator>
</ng-template>
