<div class="filter-view">
    <form [formGroup]="filterForm">
        <fieldset>
            <ol>
                <li><button class="btn btn-primary" (click)="onRefresh()">Refresh</button></li>
                <li><button class="btn btn-danger" (click)="onReset()" >Reset</button></li>
            </ol>
        </fieldset>
        <hr>
        <div class="row">
            <div class="col-xl-4 col-sm-12 mb-3">
                <span class="float-left" id="label-input">Date : </span>
                <input class="float-left form-input" id="form-input-date" formControlName="momentStartDate" matInput [matDatepicker]="picker" (dateInput)="onDateInput($event)"  [value]="currentDate">
                <mat-datepicker-toggle matSuffix [for]="picker" class=""></mat-datepicker-toggle>
                <mat-datepicker #picker class=""></mat-datepicker>
            </div>
            <div class="col-xl-4 col-sm-12 mb-3">
                <label class="float-left" id="label-input">Machine : </label>
                <input class="float-left " id='form-input-machine' formControlName="fltCell" type="text" (keypress)="onKeypress($event)"/>
            </div>

        </div>
    </form>
</div>