<h3>Reason Form</h3>

<form *ngIf="reason" #reasonForm="ngForm" (ngSubmit)="save(reasonForm)">
    <!-- <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input id="id" type="text" value="{{ reason.id }}" class="form-control" >
        </div>
    </div> -->
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input id="description" name="description" type="text" class="form-control"
                [(ngModel)]="reason.description">
        </div>
    </div>
    <button type="button" class="btn btn-danger mr-2" (click)="goBack()">Back</button>
    <button type="submit" class="btn btn-primary">Save</button>
</form>