<h3>Shift Form</h3>

<form *ngIf="shift" #shiftForm="ngForm" (ngSubmit)="save(shiftForm)">
    <!-- <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input id="id" type="text" value="{{ shift.id }}" class="form-control" >
        </div>
    </div> -->
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input id="description" name="description" type="text" class="form-control"
                [(ngModel)]="shift.description">
        </div>
    </div>
    <div class="form-group row">
        <label for="startTime" class="col-sm-2 col-form-label">Start Time</label>
        <div class="col-sm-10">
            <input id="startTime" name="startTime" type="time" class="form-control" step="1"
                [(ngModel)]="shift.startTime">
        </div>
    </div>
    <div class="form-group row">
        <label for="endTime" class="col-sm-2 col-form-label">End Time</label>
        <div class="col-sm-10">
            <input id="endTime" name="endTime" type="time" class="form-control" step="1"
                [(ngModel)]="shift.endTime">
        </div>
    </div>
    
    <button type="button" class="btn btn-danger mr-2" (click)="goBack()">Back</button>
    <button type="submit" class="btn btn-primary">Save</button>
</form>