<h3>Role List</h3>

<p *ngIf="!roles"><em>Loading...</em></p>

<table datatable class="row-border hover" *ngIf="roles">
  <thead>
    <tr>
      <th>No</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roles; let idx = index">
      <td>{{ idx + 1}}</td>
      <td>{{ role.description }}</td>
      <td class="text-center">
        <a routerLink="/roles/{{ role.id }}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
  </tbody>
</table>