<ul class="list-unstyled components" id="sidebar">
    <ng-container *ngIf="(user.roleId == 1 || user.roleId == 2);">
        <li class="li-section-title">
            MOBIUS OEE
        </li>
        <hr class="hr-sidebar">
        <li>
            <a id="overallSummary" [routerLink]='["/"]' 
            [ngClass]="{'menu-item': true, 'menu-item-active':'/'==activeUrl }" (click)="clickMenu($event)">
                <img src="assets/icon-monitoring.png" 
                [ngClass]="{'menu-icon': true, 'menu-icon-active':'/'==activeUrl }" >Overall Summary
            </a>
        </li>
        <li>
            <a id="machinesSummary" [routerLink]='["/machinesSummary"]' 
            [ngClass]="{'menu-item': true, 'menu-item-active':'/machinesSummary'==activeUrl }" (click)="clickMenu($event)" >
                <img src="assets/icon-monitoring.png" 
                [ngClass]="{'menu-icon': true, 'menu-icon-active':'/machinesSummary'==activeUrl }">Machines Summary
            </a>
        </li>
        <li>
            <a id="downtimeRecords" [routerLink]='["/downtimeRecords"]' 
            [ngClass]="{'menu-item': true, 'menu-item-active':'/downtimeRecords'==activeUrl }" (click)="clickMenu($event)">
                <img src="assets/icon-report.png" 
                [ngClass]="{'menu-icon': true, 'menu-icon-active':'/downtimeRecords'==activeUrl }">Downtime Reason
            </a>
        </li>
        <li>
            <a id="oeeReport" [routerLink]='["/oeeReport"]' 
            [ngClass]="{'menu-item': true, 'menu-item-active':'/oeeReport'==activeUrl }" (click)="clickMenu($event)">
                <img src="assets/icon-report.png" 
                [ngClass]="{'menu-icon': true, 'menu-icon-active':'/oeeReport'==activeUrl }">OEE Report
            </a>
        </li>
        <li>
            <a id="traceReport" [routerLink]='["/traceReport"]' 
            [ngClass]="{'menu-item': true, 'menu-item-active':'/traceReport'==activeUrl }" (click)="clickMenu($event)">
                <img src="assets/icon-report.png" 
                [ngClass]="{'menu-icon': true, 'menu-icon-active':'/traceReport'==activeUrl }">Trace Report
            </a>
        </li>
    </ng-container>
    <ng-container *ngIf="(user.roleId == 1 || user.roleId == 3);">
        <li class="li-section-title mt-1">
            MOBIUS SPC
        </li>
        <hr class="hr-sidebar">
        <li>
            <a id="qualityReport" [routerLink]='["/qualityReport"]' 
            [ngClass]="{'menu-item': true, 'menu-item-active':'/qualityReport'==activeUrl }" (click)="clickMenu($event)">
                <img src="assets/icon-report.png" 
                [ngClass]="{'menu-icon': true, 'menu-icon-active':'/qualityReport'==activeUrl }">Process Statistics
            </a>
        </li>
    </ng-container>
    <ng-container *ngIf="(user.roleId == 1);">
        <li>
            <a href="#administrator" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item">
                <img src="assets/icon-administration.png" class="menu-icon">Administration</a>
            <ul class="collapse list-unstyled" id="administrator">
                <!-- <li>
                    <a [routerLink]='["/processVariables"]' class="menu-item">
                        <img src="assets/icon-monitoring.png" class="menu-icon">Process Variables</a>
                </li> -->
                <li>
                    <a [routerLink]='["/employees"]' 
                    [ngClass]="{'menu-item': true, 'menu-item-active':'/employees'==activeUrl }" (click)="clickMenu($event)">Employees</a>
                </li>
                <li>
                    <a [routerLink]='["/roles"]' 
                    [ngClass]="{'menu-item': true, 'menu-item-active':'/roles'==activeUrl }" (click)="clickMenu($event)">Roles</a>
                </li>
                <li>
                    <a [routerLink]='["/reasons"]' 
                    [ngClass]="{'menu-item': true, 'menu-item-active':'/reasons'==activeUrl }" (click)="clickMenu($event)">Downtime Reasons</a>
                </li>
                <li>
                    <a [routerLink]='["/shifts"]' 
                    [ngClass]="{'menu-item': true, 'menu-item-active':'/shifts'==activeUrl }" (click)="clickMenu($event)">Shifts</a>
                </li>
            </ul>
        </li>
    </ng-container>
    <!--<li>-->
        <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>-->
        <!--<ul class="collapse list-unstyled" id="pageSubmenu">-->
            <!--<li>-->
                <!--<a href="#">Page 1</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Page 2</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Page 3</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="#">Portfolio</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="#">Contact</a>-->
    <!--</li>-->
</ul>