<h3>Quality Report</h3>
<hr>

<p *ngIf="loading && loadingXChart && loadingRChart; else contentLoaded"><em>Loading...</em></p>

<ng-template #contentLoaded>
    <div class="filter-view">
        <div class="content-container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="float-left" id="label-input">Machine Type </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ng-select [items]="entityOptions"
                                bindLabel="name"
                                placeholder="Please select machine type.."
                                [(ngModel)]="entity"
                                groupBy="lineId"
                                (ngModelChange)="machineChanged();checkForDisplay();">
                                <ng-template ng-optgroup-tmp let-item="item">
                                    {{"Line "+item.lineId || 'Unnamed group'}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="float-left" id="label-input">Data Type</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ng-select [items]="dataTypeOptions"
                                bindLabel="name"
                                placeholder="Please select data type.."
                                [(ngModel)]="dataType"
                                (ngModelChange)="checkForDisplay()">
                                
                                <ng-template ng-optgroup-tmp let-item="item">
                                    {{"Line "+item.lineId || 'Unnamed group'}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="float-left" id="label-input">Date</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="float-left form-input ml-0" id="form-input-date" matInput [matDatepicker]="picker" [(ngModel)]="date" (dateInput)="checkForDisplay()"  [value]="currentDate">
                            <mat-datepicker-toggle matSuffix [for]="picker" class=""></mat-datepicker-toggle>
                            <mat-datepicker #picker class=""></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="float-left" id="label-input">Shift</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ng-select [items]="shiftOptions"
                                bindLabel="optionText"
                                placeholder="Please select shift.."
                                [(ngModel)]="shift" (ngModelChange)="checkForDisplay()">
                                
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-container" [hidden]="!(!noResultFound && !noResultFoundStat && XChartReady && MRChartReady)">
        <h4 *ngIf="entity != null; else nullEntity">{{entity.name}}</h4>
        <ng-template #nullEntity>
            <h4>Entity Name</h4>
        </ng-template>
        <hr>
        <div class="row">
            <div class="col-xl-9 col-lg-12 col-sm-12 col-md-12 ">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="ml-2">X Chart</h5>
                    </div>
                    <div class="col-lg-6">
                        <!-- Rounded switch -->
                        <label class="switch">
                            <input type="checkbox" id="autoScroll" name='autoScroll' [(ngModel)]="autoScroll">
                            <span class="slider round"></span>
                        </label>
                        <label class="labelAutoScroll">Auto Scroll</label>
                    </div>
                </div>
                <div class="chartWrapper">
                    <div class="xChartAreaWrapper" (scroll)="onChartScroll($event)">
                      <div class="xChartAreaWrapper2">
                        <canvas baseChart id='XChart'
                            [datasets]="lineChartDataXChart"
                            [options]="lineChartOptionsXChart"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartTypeXChart"
                            [plugins]="lineChartPluginsXChart"></canvas>
                      </div>
                    </div>

                    <canvas id="xChartAxis" class="chartForAxis" width="0"></canvas>
                    <!-- <canvas id="xChartAxisRight" class="chartForAxis" width="0"></canvas> -->
                </div>

                <h5 class="ml-2">MR Chart</h5>
                <div class="chartWrapper">
                    <div class="rChartAreaWrapper" (scroll)="onChartScroll($event)">
                      <div class="rChartAreaWrapper2">
                        <canvas baseChart id="RChart"
                            [datasets]="lineChartDataRChart"
                            [options]="lineChartOptionsRChart"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartTypeRChart"
                            [plugins]="lineChartPluginsRChart"></canvas>
                      </div>
                    </div>

                    <canvas id="rChartAxis" class="chartForAxis" width="0" height="400"></canvas>
                    <!-- <canvas id="rChartAxisRight" class="chartForAxis" width="0"></canvas> -->
                </div>
            </div>

            <div class="col-xl-3 col-lg-12 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-xl-12 col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header text-white bg-dark">STATISTICS DETAILS</div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td style="width: 60%;" class="text-right">
                                                Total
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                CP
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{CP}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                CPK<sub>upper</sub>
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{CPKUpper}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                CPK<sub>lower</sub>
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{CPKLower}}</td>
                                        </tr>

                                        
                                        <tr>
                                            <td class="text-right">
                                                Mean X
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{meanX}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                UCL X
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{UCLX}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                LCL X
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{LCLX}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Mean MR
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{meanMR}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                UCL MR
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{UCLMR}}</td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="text-right">
                                                Est % out SL (Cap)
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">18.91</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Act % out of SL
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">20.00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Dist
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">Normal</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                                <!-- <hr class="hr-data">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td style="width: 60%;" class="text-right">
                                                X-Bar
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">77.130</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Est. Sigma
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">1.028</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Sigma Type
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">Est</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                MR-Bar
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">1.160</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Trend
                                            </td>
                                            <td>:</td>
                                            <td class="text-right"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Std Err
                                            </td>
                                            <td>:</td>
                                            <td class="text-right"></td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header text-white bg-dark">SELECTED DATA POINT</div>
                            <div class="card-body" *ngIf="selectedData != null; else notClicked">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td style="width: 40%;" class="text-right">
                                                Timestamp
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{selectedData.object.timestamp | date:'d MMM yyyy HH:mm:ss'}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                Data Sample
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{selectedData.x}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                X Value
                                            </td>
                                            <td>:</td>
                                            <td class="text-right">{{selectedData.y}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                MR Value
                                            </td>
                                            <td>:</td>
                                            <td class="text-right" *ngIf="selectedData.MRObject != null;else nullMRObject">{{selectedData.MRObject.y}}</td>
                                            <ng-template #nullMRObject >
                                                <td class="text-right">-</td>
                                            </ng-template>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-template #notClicked>
                                <div class="card-body">
                                    No data selected..
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

    <div class="content-container" [hidden]="(!noResultFound && !noResultFoundStat && XChartReady && MRChartReady)">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>No result found...</h4>
            </div>
        </div>
    </div>
</ng-template>
