table[mat-table] {width:100%;}
.filter-view fieldset  {}
.filter-view ol {padding:0;}
.filter-view ol li {list-style-type: none; float:left;padding:5px;}
.filter-view ol li label {margin: 0 5px 0 10px;}
.content-container{
    background-color:white!important;
    padding:15px;
}
.oee{
    height: 160px;
}

.oee-header{
    font-size: 1.30rem;
}

.AQP-containter{
    position: relative;
}

.AQP-card{
    bottom: 0;
    position: absolute;
    width: 93%;
    font-size: 1rem;
}

.card-text-percentage-oee{
    color: black;
    font-size: 1.5rem;
    margin: 0 !important;
    
}

.card-body-time{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;

}

.table td, .table th{
    padding: .2rem !important;
    border: none;
}

.card-body-oee{
    padding-top: 26px !important;
}

.card-oee{
    height: 99px !important;
}

.card-value-chart{
    height: 15.9rem !important;
}

.value-chart-value{
    margin-top: 2.4rem;
}

@media (max-width: 575.98px) { 
    .AQP-card{
        width: 100%;
        position: relative !important;
    }
 }

 #form-input-date{
     width: 85%;
 }
 
@media (max-width: 1199px) { 
    .card-body-oee{
        padding-top: 1.3rem !important;
    }
    
    .card-oee{
        height: 66px !important;
    }

    .AQP-card{
        width: 100%;
        position: relative !important;
    }
 }


 @media (max-width: 1671px) { 
    
    .card-text-percentage-oee{
        font-size: 1rem;
    }
    .oee-header{
        font-size: 1.2rem;
    }
 }

 @media (max-width: 1442px) { 
    
    .card-text-percentage-oee{
        font-size: 0.9rem;
    }

    .card-header{
        font-size: 1rem;
    }

    .oee-header{
        font-size: 1rem;
    }

    .card-body-time{
        font-size: 0.8rem;
    }
    
 }

 .bg-orange{
    background-color: darkorange;
}

.hr-data{
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.chartWrapper {
    position: relative;   
    max-width: 1330px;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.xChartAreaWrapper {
    overflow-x: scroll;
    position: relative;
    width: 100%;
}

.rChartAreaWrapper {
    overflow-x: scroll;
    position: relative;
    width: 100%;
}

.xChartAreaWrapper2 {
    /* width: 72rem;  */
    /* per 5 add 11rem */
    /* width: 100rem; */
    position: relative;
    height:20rem;
}

.rChartAreaWrapper2 {
    /* width: 72rem;  */
    /* per 5 add 11rem */
    /* width: 100rem; */
    position: relative;
    height:20rem;
}

#xChartAxisRight{
    left: 69.3rem;
}

.chartForAxis{
    background-color: white;
}

.position-absolute{
    position: absolute;
}

.labelAutoScroll{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }