<h3>OEE Report</h3>
<hr>

<p *ngIf="loading; else contentLoaded"><em>Loading...</em></p>

<ng-template #contentLoaded>
    <div class="filter-view">
        <div class="content-container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="float-left" id="label-input">Entity Type (Line/Machine) </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <select id="form-input" class="form-input" [(ngModel)]="entityType" (ngModelChange)="entityTypeChanged($event)">
                                <option value="null" selected>--</option>
                                <option value="line" selected>Line</option>
                                <option value="machine" selected>Machine</option>
                            </select> -->

                            <ng-select [items]="entityTypeOptions"
                                bindLabel="text"
                                bindValue="id"
                                placeholder="Please select entity type.."
                                [(ngModel)]="entityType" (ngModelChange)="entityTypeChanged($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="float-left" id="label-input">Entity Name</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <select id="form-input" class="form-input" [(ngModel)]="entity" (ngModelChange)="checkForDisplay()"  [disabled]="entityOptions.length < 0">
                                <option value="null" selected>--</option>
                                <option *ngFor="let entity of entityOptions" [ngValue]="entity">{{entity.name}}</option>
                            </select> -->
                            
                            <ng-select [items]="entityOptions"
                                bindLabel="name"
                                placeholder="Please select entity name.."
                                [(ngModel)]="entity"
                                groupBy="lineId"
                                (ngModelChange)="checkForDisplay()">
                                
                                <ng-template ng-optgroup-tmp let-item="item">
                                    {{"Line "+item.lineId || 'Unnamed group'}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="float-left" id="label-input">Time Periodic </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <select id="form-input" class="form-input" [(ngModel)]="timePeriodic" (ngModelChange)="getTimePeriodic($event);">
                                <option value="null" selected>--</option>
                                <option value="monthly" selected>Monthly</option>
                                <option value="weekly" selected>Weekly</option>
                                <option value="daily" selected>Daily</option>
                            </select> -->

                            <ng-select [items]="timePeriodicOptions"
                                bindLabel="text"
                                bindValue="id"
                                placeholder="Please select time periodic.."
                                [(ngModel)]="timePeriodic" (ngModelChange)="getTimePeriodic($event);">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="float-left" id="label-input">Time </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" *ngIf="timePeriodic == 'daily'; else weekly">
                            <input class="float-left form-input ml-0" id="form-input-date" matInput [matDatepicker]="picker" [(ngModel)]="date" (dateInput)="checkForDisplay()"  [value]="currentDate">
                            <mat-datepicker-toggle matSuffix [for]="picker" class=""></mat-datepicker-toggle>
                            <mat-datepicker #picker class=""></mat-datepicker>
                        </div>
                        <ng-template #weekly>
                            <div class="col-sm-12" *ngIf="timePeriodic == 'weekly'; else monthly">
                                <!-- <select id="form-input" class="form-input" [(ngModel)]="weekYear" (ngModelChange)="checkForDisplay()">
                                    <option value="null" selected>--</option>
                                    <option *ngFor="let week of weekOptions" [ngValue]="week">{{week.optionText}}</option>
                                </select> -->

                                <ng-select [items]="weekOptions"
                                    bindLabel="optionText"
                                    placeholder="Please select week.."
                                    groupBy="year"
                                    [(ngModel)]="weekYear" (ngModelChange)="checkForDisplay()">
                                    
                                    <ng-template ng-optgroup-tmp let-item="item">
                                        {{"Year "+item.year || 'Unnamed group'}}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </ng-template>
                        <ng-template #monthly>
                            <div class="col-sm-12" *ngIf="timePeriodic == 'monthly'; else nullTimePeriodic">
                                <!-- <select id="form-input" class="form-input" [(ngModel)]="monthYear" (ngModelChange)="checkForDisplay()">
                                    <option value="null" selected>--</option>
                                    <option *ngFor="let month of monthOptions" [ngValue]="month">{{month.optionText}}</option>
                                </select> -->

                                <ng-select [items]="monthOptions"
                                    bindLabel="optionText"
                                    placeholder="Please select month.."
                                    groupBy="year"
                                    [(ngModel)]="monthYear" (ngModelChange)="checkForDisplay()">
                                    
                                    <ng-template ng-optgroup-tmp let-item="item">
                                        {{"Year "+item.year || 'Unnamed group'}}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </ng-template>
                        <ng-template #nullTimePeriodic>
                            <div class="col-sm-12 text-center">
                                Please pick time periodic..
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-container" *ngIf="!noResultFoundOee && MTBFReady && MTTRReady && this.entityType == 'machine'; else checkForLine">
        <h4 *ngIf="entity != null; else nullEntity">{{entity.name}}</h4>
        <ng-template #nullEntity>
            <h4 >Entity Name</h4>
        </ng-template>
        <hr>
        <!-- CARD OEE -->
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                <div [ngClass]="{'card text-white mb-3': true, 
                'bg-danger': oee < 60, 
                'bg-orange': oee >= 60 && oee < 85,
                'bg-success' : oee >= 85 }">
                    <div class="card-header oee-header">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-sm-6">
                                Overall Efficiency
                            </div>
                            <div class="col-lg-6 col-sm-6 col-sm-6">
                                <div class="card card-oee">
                                    <div class="card-body card-body-oee text-center">
                                        <b class="card-text-percentage-oee">{{oee}}%</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body-time">
                    <p class="card-text">Last update {{updatedAtString}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 AQP-container">
                <div [ngClass]="{'card text-white mb-3 AQP-card': true, 
                    'bg-danger': availability < 60, 
                    'bg-orange': availability >= 60 && availability < 85,
                    'bg-success' : availability >= 85 }">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                Availability
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <b class="card-text-percentage-oee">{{availability}}%</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body-time">
                    <p class="card-text">Last update {{updatedAtString}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 AQP-container">
                <div [ngClass]="{'card text-white mb-3 AQP-card': true, 
                    'bg-danger': quality < 60, 
                    'bg-orange': quality >= 60 && quality < 85,
                    'bg-success' : quality >= 85 }">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                Quality
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <b class="card-text-percentage-oee">{{quality}}%</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body-time">
                    <p class="card-text">Last update {{updatedAtString}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 AQP-container">
                <div [ngClass]="{'card text-white mb-3 AQP-card': true, 
                    'bg-danger': performance < 60, 
                    'bg-orange': performance >= 60 && performance < 85,
                    'bg-success' : performance >= 85 }">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                Performance
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <b class="card-text-percentage-oee">{{performance}}%</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body-time">
                    <p class="card-text">Last update {{updatedAtString}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- CARD Downtime -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-4 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header text-white bg-dark ">TOP 3 FREQUENT DOWNTIME</div>
                    <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <th style="width: 80%;">Reasons</th>
                            <th>Freq</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reason of reasonsFreq; let idx = index">
                                <td [ngStyle]="reason.styles">
                                        <b>{{reason.description}}</b>
                                    </td>
                                <td class="text-center">{{reason.freq}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 col-lg-6">
                <div class="card  mb-3">
                    <div class="card-header text-white bg-dark">TOP 3 LONGEST DOWNTIME</div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <th style="width: 80%;">Reasons</th>
                                <th>Minutes</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let reason of reasonsMinutes; let idx = index">
                                    <td [ngStyle]="reason.styles">
                                        <b>{{reason.description}}</b>
                                    </td>
                                    <td class="text-center">{{reason.minutes}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12 col-sm-12 col-md-12">
                <div class="row mb-3">
                    <div class="col-sm-8 ml-0 pl-0 mr-0 pr-0">
                        <div class="flex">
                            <div class="flex-item">
                              <div style="display: relative;" style="height:16.7rem;" >
                              <canvas baseChart id='TBFChart'
                                          [datasets]="lineChartDataTBF"
                                          [options]="lineChartOptionsTBF"
                                          [colors]="lineChartColors"
                                          [legend]="lineChartLegend"
                                          [chartType]="lineChartTypeTBF"
                                          [plugins]="lineChartPluginsTBF"></canvas>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-4 ml-0 pl-0" style="margin-top: 6px;">
                        <div class="card card-value-chart bg-primary text-white">
                            <div class="card-body text-center">
                                <h5>MTBF</h5>
                                <div class="value-chart-value">
                                    <h3>{{MTBF}}</h3>
                                </div>
                                <h5>hours</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 ml-0 pl-0 mr-0 pr-0">
                        <div class="flex">
                            <div class="flex-item">
                              <div style="display: relative;" style="height:16.7rem;" >
                              <canvas baseChart id="TTRChart"
                                          [datasets]="lineChartDataTTR"
                                          [options]="lineChartOptionsTTR"
                                          [colors]="lineChartColors"
                                          [legend]="lineChartLegend"
                                          [chartType]="lineChartTypeTTR"
                                          [plugins]="lineChartPluginsTTR"></canvas>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-4 ml-0 pl-0" style="margin-top: 6px;">
                        <div class="card card-value-chart bg-primary text-white">
                            <div class="card-body text-center">
                                <h5>MTTR</h5>
                                <div class="value-chart-value">
                                    <h3>{{MTTR}}</h3>
                                </div>
                                <h5>hours</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #checkForLine>
        <div class="content-container" *ngIf="!noResultFoundOee && this.entityType == 'line'; else loadingContainer">
            <h4 *ngIf="entity != null; else nullEntity">{{entity.name}}</h4>
            <ng-template #nullEntity>
                <h4>Entity Name</h4>
            </ng-template>
            <hr>
            <h5>OEE Data from : <b>{{lineRepresentative}}</b></h5>
            <!-- CARD OEE -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                    <div [ngClass]="{'card text-white mb-3': true, 
                    'bg-danger': oee < 60, 
                    'bg-orange': oee >= 60 && oee < 85,
                    'bg-success' : oee >= 85 }">
                        <div class="card-header oee-header">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-sm-6">
                                    Overall Efficiency
                                </div>
                                <div class="col-lg-6 col-sm-6 col-sm-6">
                                    <div class="card card-oee">
                                        <div class="card-body card-body-oee text-center">
                                            <b class="card-text-percentage-oee">{{oee}}%</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body-time">
                        <p class="card-text">Last update {{updatedAtString}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 AQP-container">
                    <div [ngClass]="{'card text-white mb-3 AQP-card': true, 
                    'bg-danger': availability < 60, 
                    'bg-orange': availability >= 60 && availability < 85,
                    'bg-success' : availability >= 85 }">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    Availability
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <b class="card-text-percentage-oee">{{availability}}%</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body-time">
                        <p class="card-text">Last update {{updatedAtString}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 AQP-container">
                    <div [ngClass]="{'card text-white mb-3 AQP-card': true, 
                    'bg-danger': quality < 60, 
                    'bg-orange': quality >= 60 && quality < 85,
                    'bg-success' : quality >= 85 }">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    Quality
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <b class="card-text-percentage-oee">{{quality}}%</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body-time">
                        <p class="card-text">Last update {{updatedAtString}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 AQP-container">
                    <div [ngClass]="{'card text-white mb-3 AQP-card': true, 
                    'bg-danger': performance < 60, 
                    'bg-orange': performance >= 60 && performance < 85,
                    'bg-success' : performance >= 85 }">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    Performance
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <b class="card-text-percentage-oee">{{performance}}%</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body-time">
                        <p class="card-text">Last update {{updatedAtString}}</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- CARD Downtime -->
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-dark ">TOP 3 FREQUENT DOWNTIME</div>
                        <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <th style="width: 80%;">Reasons</th>
                                <th class="text-center">Freq</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let reason of reasonsFreq; let idx = index">
                                    <td [ngStyle]="reason.styles">
                                            <b>{{reason.description}}</b>
                                        </td>
                                    <td class="text-center">{{reason.freq}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="card  mb-3">
                        <div class="card-header text-white bg-dark">TOP 3 LONGEST DOWNTIME</div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <th style="width: 80%;">Reasons</th>
                                    <th class="text-center">Minutes</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reason of reasonsMinutes; let idx = index">
                                        <td [ngStyle]="reason.styles">
                                            <b>{{reason.description}}</b>
                                        </td>
                                        <td class="text-center">{{reason.minutes}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #loadingContainer>
        <div class="content-container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4>No result found...</h4>
                </div>
            </div>
        </div>
    <ng-template>
</ng-template>
