table[mat-table] {width:100%;}
.filter-view fieldset  {}
.filter-view ol {padding:0;}
.filter-view ol li {list-style-type: none; float:left;padding:5px;}
.filter-view ol li label {margin: 0 5px 0 10px;}
.content-container{
    background-color:white!important;
    padding:15px;
}
.oee{
    height: 160px;
}

.oee-header{
    font-size: 1.30rem;
}

.AQP-containter{
    position: relative;
}

.AQP-card{
    bottom: 0;
    position: absolute;
    width: 93%;
    font-size: 1rem;
}

.card-text-percentage-oee{
    color: black;
    font-size: 1.5rem;
    margin: 0 !important;
    
}

.card-body-time{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;

}

.table td, .table th{
    padding: .5rem !important;
}

.card-body-oee{
    padding-top: 26px !important;
}

.card-oee{
    height: 99px !important;
}

.card-value-chart{
    height: 15.9rem !important;
}

.value-chart-value{
    margin-top: 2.4rem;
}

@media (max-width: 575.98px) { 
    .AQP-card{
        width: 100%;
        position: relative !important;
    }
 }

 #form-input-date{
     width: 85%;
 }
 
@media (max-width: 1199px) { 
    .card-body-oee{
        padding-top: 1.3rem !important;
    }
    
    .card-oee{
        height: 66px !important;
    }

    .AQP-card{
        width: 100%;
        position: relative !important;
    }
 }


 @media (max-width: 1671px) { 
    
    .card-text-percentage-oee{
        font-size: 1rem;
    }
    .oee-header{
        font-size: 1.2rem;
    }
 }

 @media (max-width: 1442px) { 
    
    .card-text-percentage-oee{
        font-size: 0.9rem;
    }

    .card-header{
        font-size: 1rem;
    }

    .oee-header{
        font-size: 1rem;
    }

    .card-body-time{
        font-size: 0.8rem;
    }
    
 }

 .bg-orange{
    background-color: darkorange;
}