<h2>Login</h2>
<form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input id="username" name="username" type="text" class="form-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input id="password" name="password" type="password" class="form-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
        </div>
        <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
    </div>
</form>