<h3>Shift List</h3>

<p *ngIf="!shifts"><em>Loading...</em></p>

<table datatable class="row-border hover" *ngIf="shifts">
  <thead>
    <tr>
      <th>No</th>
      <!-- <th>Id</th> -->
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shift of shifts; let idx = index">
      <td>{{ idx + 1}}</td>
      <!-- <td>{{ shift.id }}</td> -->
      <td>{{ shift.description }}</td>
      <td>{{ shift.startTime }}</td>
      <td>{{ shift.endTime }}</td>
      <td class="text-center">
        <a routerLink="/shifts/{{ shift.id }}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
  </tbody>
</table>